<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ScreenshotHook.Presentation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ScreenshotHook.Presentation.Properties.Settings>
            <setting name="WatermarkText" serializeAs="String">
                <value>Test</value>
            </setting>
            <setting name="WatermarkFontSize" serializeAs="String">
                <value>18</value>
            </setting>
            <setting name="WatermarkFontFamily" serializeAs="String">
                <value>Microsoft YaHei</value>
            </setting>
            <setting name="WatermarkColorR" serializeAs="String">
                <value>128</value>
            </setting>
            <setting name="WatermarkColorG" serializeAs="String">
                <value>128</value>
            </setting>
            <setting name="WatermarkColorB" serializeAs="String">
                <value>128</value>
            </setting>
            <setting name="WatermarkColorA" serializeAs="String">
                <value>128</value>
            </setting>
            <setting name="ProcessName" serializeAs="String">
                <value>WeChat</value>
            </setting>
        </ScreenshotHook.Presentation.Properties.Settings>
    </userSettings>
</configuration>